/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require './fonts'

body
  font-family Roboto
  background-color #f0

.home
  .hero
    padding-bottom 1px
    img
      max-width 450px!important

main
  font-size 0.875rem
  background-color #f
  height 100%
  a
    text-decoration: underline
    color $textColor
  p
    line-height 1.1rem
    margin 0.7rem 0
  h3
    font-family Roboto
    font-weight 700
    font-size 1.25rem
    color #0
    margin 1rem 0 0.7rem 0 !important
  .content
    &__intro
      padding 10px 0
    &__default
      padding 10px 0 !important